nav {
    background-color: #333333;
    padding: 30px;
    width: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name{
    color: #ffcc00;
    margin-right: 10px;
    font-weight: bold;
  }
  